In [262]:
#Defining a list of 10 students ages
ages = [19,22,19,24,20,25,26,24,25,24]
ages

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [263]:
#Sorting the list
ages.sort()

In [264]:
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [265]:
#Finding minimum of age
Minimum = min(ages)
Minimum

19

In [266]:
#Finding Maximum of age
Maximum = max(ages)
Maximum

26

In [267]:
#Adding Min and Max age again to the list ages
ages.append(Minimum)
ages.append(Maximum)
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [268]:
#Median Age 
L = len(ages) #Calculating Length of the list ages
L

12

In [269]:
#No of values in a list are even then median will be average of the two mid values of a list
A = int(L/2 -1) #A be the predecessor to the mid value in a list because list Index starts at 0
B = int(L/2) #B be the mid value in a list at Index 6
Median = (ages[A]+ages[B])/2
Median

24.0

In [270]:
#Average of List ages
S = sum(ages) #S be the Sum of all ages in a list ages
L = len(ages) #L be the length of the list
Average = S/L #Average can be calculated by sum of the values divided by Total no of Values in a list
Average

22.75

In [271]:
#Finding range of the ages
Maximum = max(ages)
Minimum = min(ages)
Range = Maximum - Minimum #Range means difference between maximum and minimum values in a list
Range

7

In [272]:
#Creating a Empty Dictionary
Dog = {}
Dog

{}

In [273]:
#Appending values to a Dog Dictionary
Dog.update({"name" :"ABC", "breed" :"DEF", "legs" : 4, "age" : 15})
Dog

{'name': 'ABC', 'breed': 'DEF', 'legs': 4, 'age': 15}

In [274]:
#Creating a Student Dictionary
Student = {"first_name" : "", "last_name" : "","gender": "", "age": "", "marital status": "", "skills":[], "country": "", "city":"", "address": ""}
Student

{'first_name': '',
 'last_name': '',
 'gender': '',
 'age': '',
 'marital status': '',
 'skills': [],
 'country': '',
 'city': '',
 'address': ''}

In [275]:
#Length of Student Dictionary
len(Student)

9

In [276]:
#Print values of Skills
S = Student['skills']
S

[]

In [277]:
type(S)

list

In [278]:
#Modifying skill values
Student["skills"] = (['Python','ML'])
Student['skills']

['Python', 'ML']

In [279]:
Student

{'first_name': '',
 'last_name': '',
 'gender': '',
 'age': '',
 'marital status': '',
 'skills': ['Python', 'ML'],
 'country': '',
 'city': '',
 'address': ''}

In [280]:
#Printing keys of Student Dictionary
Student.keys()

dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])

In [281]:
#Printing keys of Student Dictionary as list
list(Student.keys())

['first_name',
 'last_name',
 'gender',
 'age',
 'marital status',
 'skills',
 'country',
 'city',
 'address']

In [282]:
#Printing values of Student Dictionary as list
list(Student.values())

['', '', '', '', '', ['Python', 'ML'], '', '', '']

In [283]:
#Creating a Sisters and Brothers tuples
Sisters = ('Pooja','Shruti','Samyuktha','kriti')
Brothers = ('Mahesh','Vijay','Akhil','Balakrishna')

In [284]:
#Concatinating Sisters and Brothers tuples into a one tuple name it as siblings
Siblings = Brothers + Sisters
Siblings

('Mahesh',
 'Vijay',
 'Akhil',
 'Balakrishna',
 'Pooja',
 'Shruti',
 'Samyuktha',
 'kriti')

In [285]:
#Length of Sibilings tuple
len(Siblings)

8

In [286]:
#Modifying Siblings Tuple
Siblings.append('Krishna','Indiramma')

AttributeError: 'tuple' object has no attribute 'append'

In [287]:
#As tuples are unchangables directly, but we can update the tuple by converting tuples into a list
Change_tuple = list(Siblings)
Change_tuple

['Mahesh',
 'Vijay',
 'Akhil',
 'Balakrishna',
 'Pooja',
 'Shruti',
 'Samyuktha',
 'kriti']

In [288]:
Change_tuple.extend(['Krishna','Indira'])
Change_tuple

['Mahesh',
 'Vijay',
 'Akhil',
 'Balakrishna',
 'Pooja',
 'Shruti',
 'Samyuktha',
 'kriti',
 'Krishna',
 'Indira']

In [289]:
family_members = tuple(Change_tuple)
family_members

('Mahesh',
 'Vijay',
 'Akhil',
 'Balakrishna',
 'Pooja',
 'Shruti',
 'Samyuktha',
 'kriti',
 'Krishna',
 'Indira')

In [290]:
#Creating a sets it_companies, A, B, age
it_companies = {'Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon'}
A = {19,22,24,20,25,26}
B = {19,22,20,25,26,24,28,27}
age = [22,19,24,25,26,24,25,24]

#Length of set it_companies
len(it_companies)

7

In [291]:
#Adding 'twitter' to set it_companies
it_companies.add("Twitter")
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [292]:
#Insert mutliple values into a set
it_companies.update(['TCS','Wipro'])
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'TCS',
 'Twitter',
 'Wipro'}

In [293]:
#remove items from a set
it_companies.remove('Wipro')
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'TCS',
 'Twitter'}

In [294]:
#Joining two sets
C = A.union(B) #Joins two sets A and B and also removes duplicate items
C

{19, 20, 22, 24, 25, 26, 27, 28}

In [295]:
#Intersecting two sets
D = A.intersection(B) #Intersection will results common items b/w the two sets A and B
D

{19, 20, 22, 24, 25, 26}

In [296]:
#Is A is subset of B
A.issubset(B) #issubset function checks if all items in A present in B, if true then A is subset of B otherwise not.

True

In [297]:
#are A and B disjoint sets
A.isdisjoint(B) #isdisjoint function checks if any item in set A present in B, if true not disjoint otherwise disjoint

False

In [298]:
#Insert one set items into another
A.update(B) #Insert items from set B into set A
A

{19, 20, 22, 24, 25, 26, 27, 28}

In [299]:
B.update(A) #Insert items from set A into setB
B

{19, 20, 22, 24, 25, 26, 27, 28}

In [300]:
#Symmetric difference between two sets A and B
A.symmetric_difference(B)
A

{19, 20, 22, 24, 25, 26, 27, 28}

In [301]:
#Deleting the sets completely
A.clear()
B.clear()
it_companies.clear()

In [302]:
age

[22, 19, 24, 25, 26, 24, 25, 24]

In [303]:
#Converting a list age to a set
sage = set(age)
sage

{19, 22, 24, 25, 26}

In [304]:
#comparing the lengths of age and sage
len(age) == len(sage)

False

In [317]:
#calculating area of circle
ra = 30
PI = 3.14
_area_of_circle = PI * ra * ra
_area_of_circle

2826.0

In [318]:
#calculating circumference of circle
_circum_of_circle = 2 * PI * ra
_circum_of_circle

188.4

In [319]:
#claculate area by taking radius as user Input
r = float(input("Enter radius"))
area = PI * r * r 
area

Enter radius30

2826.0

In [308]:
#Unique words in a sentence
A = "I am a teacher and I love to inspire and teach people"
B = set(A.split(" "))
len(B)

10

In [309]:
#tab escaping sequence
print("Name\tAge\tCountry\tcity\nAsabench\t250\tFinland\tHelsinki")

Name	Age	Country	city
Asabench	250	Finland	Helsinki

In [320]:
#String formatting
print("radius = {radius}".format(radius = 10))
print("area = {PI} * radius ** 2".format(PI = 3.14))
print("\"The area of a circle with radius {radius} is {ara} meter square.""\"".format(radius = 10, ara = 3.14 * radius **2))

radius = 10
area = 3.14 * radius ** 2
"The area of a circle with radius 10 is 314.0 meter square."

In [354]:
lbs= []
n = int(input("Enter list size:"))
for i in range(n):
    ele = int(input("Enter weights(lbs) of N students"))
    lbs.append(ele)
for i in range(n):
    kgs[i] = lbs[i]/2.205
kgs

Enter list size:4
Enter weights(lbs) of N students150
Enter weights(lbs) of N students155
Enter weights(lbs) of N students145
Enter weights(lbs) of N students148

[68.02721088435374, 70.29478458049887, 65.75963718820861, 67.12018140589569]

In [355]:
lbs

[150, 155, 145, 148]

In [356]:
kgs

[68.02721088435374, 70.29478458049887, 65.75963718820861, 67.12018140589569]